<!-- output and section for accessibility for screen readers -->
<section class="calculator-container">
    <output class="display">{{getDisplay()}}</output>
    <div class="button-grid">
        <div class="control-buttons">
             <button class="button" *ngFor="let controller of controlButtons" (click)="onControlClick(controller)">
                <span>{{ controller }}</span>
            </button>
        </div>
        <div class="digit-buttons">
            <button class="button" *ngFor="let digit of digitButtons" (click)="onDigitClick(digit)">
                <span>{{ digit }}</span>
            </button>
        </div>
        <div class="operator-buttons">
            <button class="button" *ngFor="let operator of operatorButtons" (click)="onOperatorClick(operator)">
                <span>{{ operator }}</span>
            </button>
        </div>
    </div>
</section>


