
<div class="calculator-container">
    <div class="display">{{display}}</div>
    <div class="button-grid">
        <div class="digit-buttons">
            <button class="button" *ngFor="let digit of digitButtons" (click)="onClick(digit)">
                <span>{{ digit }}</span>
            </button>
        </div>
        <div class="operator-buttons">
            <button class="button" *ngFor="let operator of operatorButtons" (click)="onClick(operator)">
                <span>{{ operator }}</span>
            </button>
        </div>
        <div class="control-buttons">
             <button class="button" *ngFor="let controller of controlButtons" (click)="onClick(controller)">
                <span>{{ controller }}</span>
            </button>
        </div>
    </div>
</div>


